In [1]:
import pandas as pd

In [24]:
#get json from github
df = pd.read_json(
    "https://raw.githubusercontent.com/colarussoa/urban_flood_prediction/refs/heads/main/Data/weather.json",
    lines=True
)
#isolate location field
df_location = df[['location']]
#isolate rainfall and date
df1 = pd.json_normalize(df["data"])
df2 = df1[['dateutc','hourlyrainin']]
#merge dfs together
df_rainfall = pd.concat([df_location, df2], axis=1)
#convert date string to proper date field
df_rainfall["dateutc"] = pd.to_datetime(df_rainfall["dateutc"], unit="ms")

In [25]:
df_rainfall

            location             dateutc  hourlyrainin
0               SLCC 2025-02-11 01:51:00         0.000
1      Bartlett Park 2025-02-11 01:46:00         0.000
2        Denver Park 2025-02-11 01:51:00         0.000
3               SLCC 2025-02-11 01:59:00         0.000
4      Bartlett Park 2025-02-11 01:46:00         0.000
...              ...                 ...           ...
51739  Bartlett Park 2025-08-25 15:15:00         0.118
51740    Denver Park 2025-04-14 11:30:00         0.000
51741           SLCC 2025-08-25 15:29:00         0.000
51742  Bartlett Park 2025-08-25 15:16:00         0.118
51743    Denver Park 2025-04-14 11:30:00         0.000

[51744 rows x 3 columns]

In [23]:
location_dict = {
    "SLCC" : "",
    "Bartlett Park" : "",
    "Denver Park" : ""
}

            location        dateutc  hourlyrainin
0               SLCC  1739238660000         0.000
1      Bartlett Park  1739238360000         0.000
2        Denver Park  1739238660000         0.000
3               SLCC  1739239140000         0.000
4      Bartlett Park  1739238360000         0.000
...              ...            ...           ...
51739  Bartlett Park  1756134900000         0.118
51740    Denver Park  1744630200000         0.000
51741           SLCC  1756135740000         0.000
51742  Bartlett Park  1756134960000         0.118
51743    Denver Park  1744630200000         0.000

[51744 rows x 3 columns]